<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Esfera - Noticia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="../index.html">LA ESFERA</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Actualidad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Quiénes Somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Contacto</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar noticia" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
    </nav>
    
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-12"><h1>Congreso aprueba leyes que sancionan a jueces y fiscales por fallos revocados</h1></div>
            <div class="col-12" style="text-align: justify;">
                <p>En el Pleno del Congreso, el pasado 12 de octubre, se aprobaron en primera votación los proyectos de ley 8507 y 8959 que establecen sanciones disciplinarias y penales para los jueces que emitan detenciones preliminares, prisiones preventivas o sentencias condenatorias que luego sean revocadas por una instancia superior. Además, también se podría sancionar a los fiscales que soliciten dichas medidas.</p>
                <p>Dichas propuestas legislativas 08507/2024 y 08959/2024 fueron presentadas por las bancadas de Renovación Popular y Avanza País, respectivamente. Fueron sometidas a votación logrando 84 votos a favor, 20 en contra y 2 abstenciones. Aunque para la Corte Superior de Justicia de Lima, el Congreso con esta votación no está respetando la división de poderes y la independencia judicial.</p>
                <p>Durante la votación, Oswaldo Ordóñez, el presidente de la Primera Sala Constitucional de Lima, se pronunció en contra de los dos proyectos. "Con esta ley se está criminalizando la función jurisdiccional y la función fiscal al generar como un hecho delictivo las diferencias de criterios de opinión". Recalcando que este tipo de leyes afectan el principio de separación de poderes.</p>
                <p>Por otro lado, Isaac Mita, presidente de la Comisión de Justicia, justificó la propuesta señalando que esta busca establecer medidas concretas y directrices claras para orientar el uso adecuado de la discrecionalidad en la administración de justicia. Así mejorar la eficiencia del Ministerio Público, el Poder Judicial y la Policía Nacional en la lucha contra la criminalidad organizada.</p>
            </div>
        </div>
        <figure class="figure">
            <img src="../imgs/congreso.jpg" class="figure-img img-fluid rounded" alt="...">
            <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
        </figure>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>