<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Esfera - Noticia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="../index.html">LA ESFERA</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Actualidad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Quiénes Somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Contacto</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar noticia" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
    </nav>
    
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-12"><h1>Fe inquebrantable: la procesión del Señor de los Milagros 2024 reúne a miles</h1></div>
            <div class="col-12" style="text-align: justify;">
                <p>La procesión del Señor de los Milagros en octubre de 2024 sigue siendo uno de los eventos religiosos más importantes de Lima, congregando a miles de fieles. El segundo recorrido se realizó el 18 de octubre, comenzando a las 6:00 a.m. desde la iglesia Las Nazarenas. La imagen del Cristo Moreno transitó por avenidas emblemáticas como Tacna y Nicolás de Piérola, recibiendo homenajes en el hospital Guillermo Almenara.</p>
                <p>El tercer recorrido tuvo lugar el 19 de octubre, iniciando en el Santuario Mariano de la Virgen del Carmen en Barrios Altos. La imagen fue llevada al hospital Dos de Mayo y continuó su recorrido por la avenida Miguel Grau. A lo largo del día, miles de fieles acompañaron la procesión, que culminó en la iglesia Las Nazarenas en la madrugada del 20 de octubre.</p>
                <p>El Señor de los Milagros no solo genera devoción en Lima, sino también en las comunidades peruanas en el extranjero. Ciudades como Nueva York y Madrid han celebrado procesiones en honor al Cristo de Pachacamilla, reforzando la conexión cultural y espiritual entre peruanos que viven fuera del país.
                </p>
                <p>
                    Los próximos recorridos están programados para el 28 de octubre y el 1 de noviembre. En estas fechas, la imagen visitará puntos clave como el hospital Arzobispo Loayza y recorrerá avenidas principales como Alfonso Ugarte. Así se cerrará el ciclo de procesiones del 2024, un evento que sigue siendo un símbolo de fe y unión en el Perú.
                    </p>
            </div>
        </div>
        <figure class="figure">
            <img src="../imgs/milagros.jpg" class="figure-img img-fluid rounded" alt="...">
            <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
        </figure>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>